body {
  overflow-x: hidden; }

.navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 0.8; }
  .navbar .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 1em !important;
    padding-right: 1em !important; }
  .navbar .nav-item.active {
    border-left: #444 3px solid; }

#home-section {
  background: url("../img/bg.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px; }
  #home-section .dark-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px; }
  #home-section .home-inner {
    padding-top: 150px;
    color: #fff; }
    #home-section .home-inner .fa {
      font-size: 25px; }

footer .fa {
  font-size: 35px;
  color: white;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px; }

footer .copyright {
  background: #333;
  color: #fff; }

.copyright {
  background: #333; }

#follow li {
  list-style-type: none; }
